#sandbox {
	background: url(../img/main-background.png) no-repeat top center;
	background-size: 100%;
}
#sandbox .page-header a {
	display: none;	
}
#sandbox .page-header a.active {
	display: block;	
}
/* ==========================================================================
   NAVBAR
   ========================================================================== */
#nav-bar {
	border-bottom: 3px solid #47a447;	
}
#nav-bar a.navbar-brand {
	display: block;
	float: left;
	height: 50px;
	width: 364px;
	background: url("../img/logo_nav_bar.png") no-repeat 15px 8px;
	text-indent: -9999px;
	overflow: hidden;
	background-size: 60%; 
}

/* ==========================================================================
   PAGE HEADER
   ========================================================================== */
#page-header {
	width: 100%;
}
#nav-bar .navbar-header > strong {
	display: block;
	float: left;
	line-height: 50px;
	font-size:  22px;
	color: #666;
	padding-left: 10px;
	border-left: 1px solid #ddd;
}

/* ==========================================================================
   TRANSACTIONS TABLE
   ========================================================================== */
#transactions_table .empty td > span {
	display: block;
	float: left;
	font-size: 60px;
	margin: 10px;
	margin-right: 25px;
	color: #888;
}




#settings .table td {
	padding: 20px 8px;
}
#settings .form-group {
	margin-bottom: 0;
}
#settings label {
	font-size: 12px;
}



/* ==========================================================================
   HELP MODAL
   ========================================================================== */
#help .modal-body {
	padding: 0;
	width: 100%;
	height: 400px;
}
#help .navigation {
	margin-top: 20px;
	position: relative;
}
#help .navigation > .nav_spy {
	position: fixed;
	width: 123px;
	
}
#help .navigation ul li a {
	font-size: 11px;
	color: #47a447;
	padding: 7px 0;
	-webkit-transition: background 600ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
   -moz-transition: background 600ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
   -o-transition: background 600ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
   -ms-transition: background 600ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
   transition: background 600ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
}
#help .navigation ul li.active a {
	background: #47a447;
	color: #fff;
	padding-left: 5px;
	margin-left: -20px;
	margin-right: -15px;
	font-weight: 700;
	font-size: 11px;	
}
#help #scrollpanel {
	padding-top: 20px;
}
#help .panel {
	min-height: 375px;	
}
#help .panel-heading {
	background: #fff;	
}
#help .panel-heading h3 {
	font-weight: 700;
}
#help .panel ul {
	margin-left: 20px;	
}
#help .modal-footer {
	margin-top: 0;	
}
#help .glyphicon-ok {
	color: #47a447;
}
/* ==========================================================================
   NOTIFICATIONS MODAL
   ========================================================================== */
#server_response {
	margin-top: 20px;
	border: 1px solid #ddd;
	background: #eee;
	padding: 15px;
}

#server_response h4 {
	margin-top: 0;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}



/* ==========================================================================
   NOTIFICATIONS HISTORY
   ========================================================================== */
#history h3 a {
	margin-left: 7px;	
}
#history h3 a:hover {
	color: #47a447;
}
#history .list-group-item:hover {
	background: #f5f5f5;
	cursor: pointer;
}
#history .list-group-item > span {
	display: inline-block;
	width: 65%;	
}
#history .list-group-item > span.label {
	width: 34.2%;	
}
#history .list-group-item > .pre pre {
	margin-top: 10px;
}
/* ==========================================================================
   GENERIC MODAL
   ========================================================================== */
#transaction_view .tab-content .panel {
	border-top: 0;
}

#transaction_view .tab-content label {
	display: block;
	float: left;
	width: 40%;
}

#transaction_view .tab-content li {
	display: block;
	overflow: hidden;
}