<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /v2/checkout/
RewriteRule ^index\.php$ - [L]
RewriteRule ^payment.html$ payment.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([^/]+)$ /v2/checkout/index.php?code=$1 [L,QSA]




</IfModule>