<?xml version="1.0"?>
<config>
  <domain>ostemplates.localhost</domain>
  <notificationUrl>/index.php?page=ajax&amp;action=runhook&amp;hook=lzds&amp;do=index/notify&amp;plugin=lz_payments&amp;method=pagseguro</notificationUrl>
  <redirectUrl>/index.php?page=ajax&amp;action=runhook&amp;hook=lzds&amp;do=index/paymentReturn&amp;plugin=lz_payments&amp;method=pagseguro</redirectUrl>
  <port>80</port>
  <checkout_complete>redirect</checkout_complete>
</config>
